@model OnlineCommercialAutomation.Models.Classes.Personal

@{
    ViewBag.Title = "PersonalUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personal Update</h2>

<form class="from-group" method="post">
    @Html.HiddenFor(x => x.Id)

    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

    <br />
    @Html.LabelFor(x => x.Surname)
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })

    <br />
    @Html.LabelFor(x => x.ImageUrl)
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })

    <br />
    @Html.LabelFor(x => x.DepartmentId)
    @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.Departments, new { @class = "form-control" })

    <br />



    <button class="btn btn-info">Update</button>




</form>