@model OnlineCommercialAutomation.Models.Classes.Customer
@{
    ViewBag.Title = "CustomerUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CustomerUpdate</h2>



<form class="from-group" method="post">
    @Html.HiddenFor(x => x.Id)
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.Surname)
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Surname,"", new { @style = "color:orange"})

    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.City)
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })


    <br />


    <button class="btn btn-info">Update</button>



</form>