@model List<OnlineCommercialAutomation.Models.Classes.InvoiceItem>
@{
    ViewBag.Title = "InvoiceDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Invoice Items</h2>
<br />


<table class="table table-bordered">

    <tr>
        <th>
            Id
        </th>
        <th>
            Description
        </th>
        <th>
            Amount
        </th>
        <th>
            Price Per Unit
        </th>
        <th>
            Total Price
        </th>
        
       

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Description</td>
            <td>@item.Amount</td>
            <td>@item.PricePerUnit</td>
            <td>@item.TotalPrice</td>
           

            <td><a href="/Invoice/InvoiceUpdate/@item.Id" class="btn btn-info">Update</a></td>
            <td><a href="/Invoice/InvoiceDetails/@item.Id" class="btn btn-dark">Details</a></td>


        </tr>
    }


</table>

<a href="/Invoice/InvoiceAddDetail/@Model.Select(i=>i.Id).FirstOrDefault()" class="btn btn-primary">Add New Invoice Detail</a>